<div class="container" style="margin-top:70px;">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover bg-white" >
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre de la Receta</th>
                        <th scope="col">Categoría</th>
                        <th scope="col">Creador</th>
                        <th scope="col">Nivel de Dificultad</th>
                        <th scope="col">Tiempo aproximado (Min)</th>
                        <th scope="col">Visualizar Receta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of recetas">
                        <td>
                            {{i.rec_nombre}}
                        </td>
                        <td>
                            <tr *ngFor="let x of i.categorias">
                                {{x.cat_nombre}}
                            </tr>
                        </td>
                        <td>
                            {{i.autor.usu_nickname}}
                        </td>
                        <td>
                            {{i.dificultad.dif_nombre}}
                        </td>
                        <td>
                            {{i.rec_tiempo}}
                        </td>
                        <td>
                            <a [routerLink]="['/VisualizarReceta',i.rec_nombre]" class="btn btn-success ml-1">
                                <i class="fas fa-edit"></i>
                            </a>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
